body {
    font-family:  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(219, 230, 171);
}

.paper-container {
    width: 60%;
    padding-top: 20px;
    background-color: #e7cf65;
    box-shadow: 0 0 10px rgba(218, 89, 30, 0.1);
    border-radius: 20px;
    /* overflow: hidden; */
}


